    /* #id */
#titulo {
    color: blue;
}

    /* .classe */
/* .segundo {
    color: blue;
} */

    /* tag.classe */
/* p.segundo {
    color: blue;
} */

    /* Todos */
/* * {
    color: blue;
} */

    /* tag */
/* p {
    color: blue;
} */

    /* seletor, seletor, ... */
/* h1, h3, p.segundo {
    color: blue;
} */

/* ----- REDES SOCIAIS -----
Email: pet.ads.ifsp@gmail.com
Facebook: https://www.facebook.com/PETADSIFSP
GitHub: https://github.com/petadsifsp
Instagram: https://www.instagram.com/petadsifsp/
Site: http://pet_ads.paginas.scl.ifsp.edu.br/
YouTube: https://www.youtube.com/channel/UC92DC8TQL6KfxVS2mKemXiw */
